@import "tailwindcss";
/* Base */
/* Remove default */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

/* Thumb (black dot) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: black;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}